<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="rating" content="General">
        <meta name="audience" content="All">
        <meta name="author" content="Michael J. Simons">
        <meta name="description"
              content="Ein interaktives Online-Quiz um den Launch des Buches 'Schildmaid' von Judith und Christian Vogt zu begleiten.">
        <meta name="keywords" content="Die Vögte, Schildmaid, #girlswhoviking, Quizz, Eyvor, Skade, Tinna">

        {#if twitter_image??}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@JudithCVogt" />
        <meta name="twitter:creator" content="@rotnroll666" />
        <meta name="twitter:title" content="#girlswhoviking">
        <meta name="twitter:description" content="Ein interaktives Online-Quiz zum Buches 'Schildmaid – Das Lied der Skaldin'">
        <meta name="twitter:image" content="{twitter_image}">
        {/if}

        <title>#girlswhoviking {#insert title /}</title>
        <link rel="stylesheet" href="/css/simple.css">
        <link rel="stylesheet" href="/css/custom.css">
        {#insert scripts /}
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/start">Welche Schildmaid bist Du?</a>
                <a href="http://www.jcvogt.de">Die Vögte</a>
            </nav>

            <h1>#girlswhoviking</h1>
            <p><strong>Schildmaid – Das Lied der Skaldin</strong> ist ein historischer Fantasyroman aus dem
                Vikingzeitalter, eine
                feministische Fabel und ein Buddymovie mit 20 Frauen auf einem Schiff.</p>
        </header>
        {#insert}<main></main>{/}
        <footer>
            <p>
                #girlswhoviking wurde programmiert von <a href="http://michael-simons.eu">Michael Simons</a> aka <a
                    href="https://twitter.com/rotnroll666">@rotnroll666</a>.<br/>
                Verfügbar als Open Source Projekt unter Apache 2 Lizenz: <a
                    href="https://github.com/michael-simons/girlswhoviking">github.com/michael-simons/girlswhoviking</a>.
            </p>
        </footer>
    </body>
</html>
