{#include base}
{#title}{/title}
<main>
    <h2>Schildmaid – Das Lied der Skaldin</h2>
    <a href="https://www.piper.de/buecher/schildmaid-isbn-978-3-492-70598-1">
        <figure>
            <img sizes="(max-width: 1500px) 100vw, 1500px"
                 srcset="
                        /img/banner_w_480.png 480w,
                        /img/banner_w_698.png 698w,
                        /img/banner_w_870.png 870w,
                        /img/banner_w_1018.png 1018w,
                        /img/banner_w_1164.png 1164w,
                        /img/banner_w_1310.png 1310w,
                        /img/banner_w_1424.png 1424w,
                        /img/banner_w_1500.png 1500w"
                 src="/img/banner_w_1500.png"
                 alt="Schildmaid banner with preorder link">
            <figcaption>Schildmaid direkt bestellen.</figcaption>
        </figure>
    </a>

    <p>
        Eine göttliche Stimme aus der tiefgrünen See. Ein blaues Segel in einem Traum. Und der Aufbruch zu einer
        Reise, von der es kein Zurück mehr gibt…
    </p>

    <p>
        Es ist eine mythische Vorzeit, die Zeit der nordischen Sagas, in der sich historische Ereignisse und
        Legenden vermengen. Seit sieben Jahren baut die Einzelgängerin Eyvor ein Drachenboot in einem Fjord. Als
        sich immer mehr Außenseiterinnen um sie sammeln, wird sie unerwartet zur Kapitänin eines Schiffes, das
        eigentlich niemals in See stechen sollte.
        <br/>
        Die Letzte, die bei ihr ankommt, ist Herdis, das Krähenkind: Verfolgt von Berserkern bringt sie den Ruf
        des
        Abenteuers mit sich. Es beginnt ein tödliches Wettrennen vom skandinavischen Festland bis ins Land der
        Eisriesen hinein, an dessen Ende nichts geringeres als Ragnarök droht, das Weltenende selbst.
    </p>

    <p>
        Mystisch, mitreißend und abenteuerlich: Eine moderne Neuinterpretation nordischer Sagen.
    </p>

    <div style="text-align: center">
        <figure>
            <img src="/img/cover.small.jpg" alt="Das Cover der Schildmaid">
            <figcaption>Das Cover der Schildmaid</figcaption>
        </figure>
    </div>

    <h2>Auf Twitter</h2>

    <a href="https://twitter.com/JudithCVogt">@JudithCVogt</a>, <a
        href="https://twitter.com/EisUndDampf">@EisUndDampf</a>
    und natürlich den passenden Hashtags: <a href="https://twitter.com/hashtag/GirlsWhoViking">#GirlsWhoViking</a>
    sowie
    <a href="https://twitter.com/hashtag/Schildmaid">#Schildmaid</a>.
</main>
{/include}
